body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f6fa;
    color: #222;
}

header {
    text-align: center;
    padding: 40px 20px;
    background-color: #003366;
    color: white;
}

#imagen-principal {
    display: block;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;    
}

#imagen-logo {
    display: block;
    margin: 15px auto;
    width: 10%;   
    border-radius: 5px;
    border: 2px solid white;
}

nav.menu {
    background-color: #00264d;
    padding: 12px;
}

nav.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav.menu ul li a {
    background-color: #0055aa;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

nav.menu ul li a:hover {
    background-color: #0077dd;
}

main {
    width: 85%;
    margin: auto;
    padding: 30px 0;
}

section {
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 2px solid #ccc;
}

#video-principal {
    display: block;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #003366;
}

th, td {
    padding: 12px;
    text-align: center;
    background-color: white;
}

form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

form input, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #0055aa;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0077dd;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
