<!DOCTYPE html>
<html>
<head>
    <title>Pacific Security Force</title>
</head>
<body>

    <header>
        <h1>Pacific Security Force</h1>
        <nav>
            <a href="/">Inicio</a> |
            <a href="/about">Acerca de</a> |
            <a href="/servicios">Servicios</a> |
            <a href="/clientes">Clientes</a> |
            <a href="/personal">Personal</a>
        </nav>
        <hr>
    </header>

    {% block content %}
    {% endblock %}

    <hr>
    <footer>
        <p>© 2026 Pacific Security Force</p>
    </footer>

</body>
</html>